/* import font */
@font-face {
    font-family: "Pixel Operator";
    src: url(fonts/PixelOperator.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(20, 22, 22);
    min-height: 20vh;
    padding:20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    font-family: "Pixel Operator" ;
    color: #b9ffb2;
    text-decoration: none;
    font-size: 5vh;
}

.intro{
    display:flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
    background-color: rgb(20, 22, 22);
    min-height: 20vh;
    padding:20px;
    font-family: "Pixel Operator" ;
    color: #b9ffb2;
}